.user-field{
    position: fixed;
    width: 50%;
    bottom: 10px;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: rgb(207, 209, 208);
}

.write-msg{
    position: relative;
    height: 90%;
    width: 80%;
    border-radius: 50px;
    padding-left: 10px;
    outline: none;
}

.send{
    height: 45px;
    width: 50px;
    background-color: transparent; 
    outline: none;
    border: none;
    font-size: x-large;
    /* margin-top: 7px; */
    position: relative;
    right: 2px;
    top: 5px;
}
